.form {
  width: 500px;
  margin: auto;
  margin-top: -40px;
}
.formControl {
  height: 600px;
  background-color: black;
  padding: 70px;
}
.formInput {
  margin-top: 20px;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.formControl {
  width: 500px;
}
